body{
    font-family: lato, 'helvetica-light';
}


#creditCardMonth,
#creditCardYear {
    width: 30px; /* Set a smaller width for the inputs */
    padding: 5px; /* Adjust padding for better appearance */
    margin-right: 10px; /* Add spacing between the two inputs */

}
#creditCardCVC {
    width: 100px; /* Set a reasonable width */
    height: 30px; /* Set a reasonable height */
    position: relative;
    z-index: 1;
}
.card {
    background-color: skyblue;
    box-shadow: 2px 2px 5px black;
    width: 300px;
    height: 200px;
    gap:10px;
    padding: 10px;
    border-radius:5px;
    margin:20px auto;
}
#front {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    position:relative;
    grid-row: 1;
    grid-column: 2;
    margin-bottom: -50px;
}
#back {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position:relative;
    grid-column: 2;
    grid-row: 2;
    z-index: -1;
    align-items: end;
    margin-top: -80px;
    margin-right:50px;
}
#creditcardform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    align-items: center;
}
.card-image{
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
}

label {
    display: block;
}

label[for="creditCardNumber"],#creditCardNumber {
    width: 100%;
    grid-column: 1;
}
label[for="fullName"],#fullName {
    width: 60%;
    grid-column: 1;
    
}

label[for="creditCardExpiration"] {
    grid-column: 2;
    grid-row: 4;
}

#expirationDate {
    grid-column: 2; 
    grid-row: 5; 
    display: flex; 
    gap: 10px; 
}
label[for="creditCardCVC"]{
    justify-self: start;
    grid-column: 2;
    grid-row: 2;
}
#creditCardCVC {
    width: 50px;
    position: relative;
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    z-index: 10;
}

#submitCredit {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;

}
#blackBar {
    background-color: black;
    width:142%;
    position:relative;
    margin-bottom: 20px;
    height: 30px;
    grid-row: 1;
}