img {
	max-width: 100%;
}

.search {
    display: flex;
    flex-direction: row;
    border: 2px solid #333;
}

h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

 @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 }

 @media screen and (min-width:600px){
header {
    display:flex;
    flex-direction: column;
} 

header #title {
    display: flex;
    flex-direction: row;
}
main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
}

#description {
    display: flex;
 }

#fooddetail {
    border: 3px solid #333;
    display: flex;
    flex-direction: row;
    margin: 0;

}
#fooddetail
#fooddetail img {
    object-fit: cover;
}

#fooddetail #food-summary{
    display:flex;
    flex-direction: column;
}
#fooddetail #foodtype {
    display: inline-block;
    border: 2px solid #333;
    padding: 2px 8px;
    }
#social {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:auto;
 }

 }
@media screen and (max-width:599px) {
header {
    display:flex;
    flex-direction: column;
} 
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
footer {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#description {
    display: none;
 }

#fooddetail {
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    margin: 0;

}
#fooddetail #foodtype {
    display: inline-block;
    border: 2px solid #333;
    padding: 2px 8px;
    }
#social {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
 }
}
