* {
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

form.search {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin: 1em 0;
    max-width: 400px;
    justify-content: center;
    
}

.search {
    display: flex;
    flex-direction: row;
    
    
}

h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form.search img {
    width: 24px;
    height: 24px;
}

#title {
    display:flex;
    justify-content: center;
    align-items: center;
}

#title img {
    width: 124px;
    height: 124px;
    justify-content: center;
}
.social a img {
    width:32px;
    height:32px;
}


 @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 }

 @media screen and (min-width:600px){
img {
	max-width: 100%;
}

    header {
    display:flex;
    flex-direction: column;
} 

header #title {
    display: flex;
    flex-direction: row;
}
main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
}

#description {
    display: flex;
 }

#fooddetail {
    border: 3px solid #333;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 40px;

}
#fooddetail .img {
    object-fit: cover;
}

#fooddetail #food-summary{
    display:flex;
    flex-direction: column;
    padding: 40px;
}
#fooddetail #foodtype {
    display: inline-block;
    border: 2px solid #333;
    padding: 2px 8px;
    }
.social {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:auto;
 }

 }
@media screen and (max-width:599px) {


header {
    display:flex;
    flex-direction: column;
    justify-content: center;
} 
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
footer {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#description {
    display: none;
 }

#fooddetail {
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px;

}
#fooddetail .foodtype {
    display: inline-block;
    border: 2px solid #333;
    padding: 2px 8px;
    }
.social {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:auto;
 }
.social a{
    display:flex;
    justify-content: center;
}

}
